{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row align-items-center full-height">
        <div class="col-md-6 d-flex align-items-center justify-content-center booking-bg">
            <div class="text-book-now">
                <p class="h2 text-center righteous ">Book now!</p>
                <p class="h4 kameron">Come and enjoy</p>
            </div>
        </div>
        <div class="col-md-6 pl-5 kameron">
            <form method="POST" action="{% url 'make_booking' %}" id="booking-form">
                {% include 'booking_form.html' %}
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block extras %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="module" src="{% static 'js/update_datetime.js' %}"></script>
<script type="module" src="{% static 'js/booking.js' %}"></script>
{% endblock %}