{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <form method="POST" action="{% url 'make_booking' %}" id="booking-form">
        {% include 'booking_form.html' %}
    </form>
</div>
{% endblock %}
{% block extras %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="module" src="{% static 'js/update_datetime.js' %}"></script>
<script type="module" src="{% static 'js/booking.js' %}"></script>
{% endblock %}