{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <!-- Only 2 columns per row on small screens and as much as types, for medium+ screens -->
    <div class="row row-cols-2 row-cols-md-{{ types|length }}">
        {% for type in types %}
        <div class="col ">
            <div class="type-option align-items-center text-center pt-3 pb-3 mt-2 mb-2" data-type="{{ type }}">
                <h4>{{ type }}</h4>
            </div>
        </div>   
        {% endfor %}
    </div>
    <div class="row row-cols-1 row-cols-md-2">
        {% for item in items %}
        <div class="col mb-4 filter-item" data-type="{{ item.type }}">
            <div class="card h-100">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <img src="{{ item.photo.url }}" alt="{{ item.name }}" class="img-fluid">
                        </div>
                        <div class="col-8">
                            <h5 class="card-title">{{ item.name }}</h5>
                            <div class="d-flex flex-column mb-2">
                                <div class="d-flex align-items-center">
                                    <small class="text-muted">{{ item.price }}</small>
                                    {% if item.badge %}
                                    <span class="badge bg-primary ms-2">{{ item.badge }}</span>
                                    {% endif %}
                                </div>
                            </div>
                            <p class="card-text">
                                {{ item.description }}
                                <small class="text-muted">{{ item.kcal }} kcal</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block extras %}
<script src="{% static 'js/menu.js' %}"></script>
{% endblock %}